DB_PASS_ADMIN=very_secure_password # The password to the `postgres` user
REST_JWT_SECRET=remember_to_use_this_in_prod_this_is_important # The JWT secret to be used by postgREST for signing authentication
# « Account 0 » is a sort of admin, that has every right to the entities in the database. Used for granting initial accesses to others on their domains.
ACCOUNT_ZERO_NAME=admin
ACCOUNT_ZERO_PASS=omnipotent
# The common name of the api server
SERVER_CN=cda.local
