
[submodule "database"]
	path = database
	url = git@github.com:AKArien/cda-database.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:AKArien/cda-gateway.git
[submodule "web-console"]
	path = web-console
	url = git@github.com:AKArien/cda-web-console.git
[submodule "firmware"]
	path = firmware
	url = git@github.com:AKArien/cda-firmware.git
