[submodule "cda-web-console"]
	path = cda-web-console
	url = https://github.com/AKArien/cda-web-console.git
[submodule "cda-postgres"]
	path = cda-postgres
	url = git@github.com:AKArien/cda-postgres.git
[submodule "cda-firmware"]
	path = cda-firmware
	url = git@github.com:AKArien/cda-firmware.git
[submodule "cda-gateway"]
	path = cda-gateway
	url = git@github.com:AKArien/cda-gateway.git
